@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500;1,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: $background-color;
    color: $text-color;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    color: inherit;
    box-sizing: border-box;
    font-family: inherit;
}
