$text-color: #124a63;
$text-color-secondary: #b3c5cd;

$primary-color: #21b6b7;

$background-color: #f9f9f9;
$background-color-dark: #eef3f6;
$background-color-light: white;

$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
